html {
  box-sizing: border-box;
  font-family: 'noto-sans', sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.medallion {
  width: 100px;
  position: relative;
  top: -10px;

}
body{
  margin: 0;
}
header {
  background-color: red;
  color: white;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 2em 0em 1em 0em;
  text-align: center;
  font-size: 1em;
  display: block;


}
h1 {
  text-shadow: 2px 2px 6px black;
  font-size: .90em;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 50px;
  line-height: 2.25em;
}
.symbol {
  width: 100%;
  display: block;
  font-size: 3em;
  top: 20px;
}
ol {
  margin: 0;
  color: white;
  list-style: none;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 0.5em 0.5em;
  margin: 0;
}
nav li {
  padding: 1em;
  float: left;
  width: 50%;
  background-color: #222;
  margin: 0;
  border: 1px solid black;
}
.banner{
  position: relative;
  width: 100%;
}
h2{
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  font-style: italic;
  text-shadow: 2px 2px 6px black;
  font-size: 2em;
  text-align: center;
  width: 100%;

}
.bannerwrap{
  position: relative;
  clear: both;
}
p{
  margin: 1em;
  line-height: 1.25em;
}
.zodiacsign{
  width: 100%;
  padding: 1em;
  margin: 0;
  background-color: #FFCC00;
  text-align: center;

}
.bg-black{
  background-color: black;
  color: white;
}
.bg-red{
  background-color: #D11919;
  color: white;
}
.dragonsymbol{
  width: 50%;
  float: left;
}
.dragonpic{
  width: 50%;
  float: right;
}
.goatsymbol{
  width: 50%;
  float: right;
}
.goatpic{
  width: 50%;
  float: left;
}
.roostersymbol{
  width: 50%;
  float: left;
}
.roosterpic{
  width: 50%;
  float: right;
}
.oxsymbol{
  width: 50%;
  float: right;
}
.oxpic{
  width: 50%;
  float: left;
}
div p{
  font-style: italic;
  font-size: .75em;
}
footer{
  background-color: black;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding: 1em;
}
h4 {
  margin: 0;
}
footer a,
footer a:link,
footer a:active {
  color: white;
}
footer a:hover{
  color: red;
}
