html {
  box-sizing: border-box;
  font-family: 'noto-sans', sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.medallion {
  width: 50px;
  position: relative;
  right: -60px;
  top: -10px
}
header {
  background-color: red;
  color: white;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 2em 0em 2em 0em;
  text-align: center;
  font-size: 1em;
  display: block;
  text-shadow: 2px 2px 6px black;

}
.symbol {
  width: 100%;
  display: block;
  position: absolute;
  font-size: 2em;
  top: 20px;
  right: -10px;
}
ol {
  background-color: black;
  color: white;
  text-decoration: none;
}
}
